<div class="container">
  <div class="container-fluid">
    <h1 class="text-center">Registro de Cliente</h1>
    <form>
      <div class="row">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label">Apellidos</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>

        <div class="col-sm-6">
          <label for="firstName" class="form-label">Edad</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label">Fecha de nacimiento</label>
          <input type="date" class="form-control" required>
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="w-100 btn btn-primary btn-lg my-3" type="submit">Registro</button>
        </div>
        <div class="col">
          <button class="w-100 btn btn-secondary btn-lg my-3" type="reset">Limpiar</button>
        </div>
      </div>
    </form>
  </div>
</div>
